{% extends "./index.html" %}
{% load static %}

{%block blog%}
    active
{%endblock%}

{% block content %}

    <div class="content-blog">

<!--        main content of the blog page-->
        {% for item in blogcontent %}

            <div id="art{{item.id}}" class="post">
                <h2>{{item.title}}</h2>
                <p class="meta">{{item.data_add}}| By: {{item.author}}</p>
                <img src="{{item.imageUrl}}">
                <p>{{item.content}}</p>
                <h2><a href="#">. . .</a></h2>
            </div>

        {% endfor %}
    </div>

{% endblock %}
