{% extends "./index.html" %}
{% load static %}

{%block home%}
    active
{%endblock%}

{% block content %}

<div class="content-home">

     <h1>Serwis rowerowy. Witamy w serwisie
        {% if request.user.is_authenticated %}
            <a href="{% url 'home_create' %}">Nowy zapys</a>
        {% endif %}
    </h1>
    {% for hc in homecontent %}
    <div>
    <h3>{{hc.title}}
        {% if request.user.is_authenticated %}
        <div class="dropdown">
            <span class="three-dots">&#10247;</span>
            <div class="dropdown-content drop-menu">
                <a href="{% url 'home_update' hc.id %}">Redagować</a>
                <a href="{% url 'home_delete' hc.id %}" onclick="return confirm('Usunąć {{hc.title}}?');">Usunąć</a>
            </div>
        </div>
        {% endif %}
    </h3>
    <img src="{{ hc.imageUrl }}">
    <p>{{hc.content|linebreaksbr}}</p>
    </div>
    {% endfor %}
<!-- -------------   block sidebar ------------ -->
</div>
    <div class="sidebar">
        <h3>ARTYKULY</h3>
        {% for artykul in blogcontent %}
        <ul>
            <li><a href="{% url 'blog_p' %}#art{{artykul.id}}">{{artykul.title}}</a></li>
        </ul>
        {% endfor %}
</div>

{% endblock %}

