{% extends './index.html' %}

{%block service%}
    active
{%endblock%}

{% block content %}
<div class="content-service">
    <h3>SERWIS</h3>
<table>
    <tr>
        <th></th>
        <th class="col2">koła</th>
        <th></th>        
    </tr>
    <tr>
        <td>1</td>
        <td>centrowanie koła</td>
        <td>20-40 zł</td>
    </tr> 
    <tr>
        <td>2</td>
        <td>wymiana opony</td>
        <td>10 10zł</td>
    </tr>
    <tr>
        <td>3</td>
        <td>konserwacja piasty tylnej</td>
        <td>30 zł</td>
    </tr>
    <tr>
        <td>4</td>
        <td>centrowanie koła</td>
        <td>20-40 zł</td>
    </tr> 
    <tr>
        <td>5</td>
        <td>wymiana opony</td>
        <td>10 10zł</td>
    </tr>
    <tr>
        <td>6</td>
        <td>konserwacja piasty tylnej</td>
        <td>30 zł</td>
    </tr> 
    <tr>
        <td>7</td>
        <td>centrowanie koła</td>
        <td>20-40 zł</td>
    </tr> 
    <tr>
        <td>8</td>
        <td>wymiana opony</td>
        <td>10 10zł</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Wymiana / montaż szczęk / zacisku lub manetki</td>
        <td>20 zł</td>
    </tr>    
</table>
    
</div>
{% endblock %}