{% extends './index.html' %}
{% load static %}

{%block service%}
    active
{%endblock%}

{% block content %}

<div class="content-service">


<!-----------------The pop-up menu----------------------->
    <div style="display: flex">
        <h3>SERWIS </h3>
        <div class="dropdown">
            <span class="dropbtn"> + NEW </span>
                <div class="dropdown-content">
                    <a id="newtypeBtn">Rodzaj Naprawy</a>
                    <a id="newrepairBtn" >Nowa Naprawa</a>
                </div>
        </div>
    </div>

<!-----------Modal window / new type repair--------------->
    <div id="newtypeModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
          <form action="{% url 'new_type' %}" method="post">
              {% csrf_token %}
            <div>
              <p>{{type_repairs_form.type_repair}}</p>
                {{error}}
              <input type="submit"  value="ZAPISZ">

            </div>
          </form>
      </div>
    </div>

<!----------Modal window / new repair----------->
    <div id="newrepairModal" class="modal">
            <div class="modal-content">
                    <span class="close">&times;</span>
                <form method="post" action="{% url 'new_repair' %}">
                    {% csrf_token %}

                  <table class="new_repair">
                      <tr>
                          <th>rodzaj naprawy </th>
                          <td>{{repairsform.type_repair}}</td>
                      </tr>
                      <tr>
                          <th> nazwa naprawy </th>
                          <td> {{repairsform.name_repair}} </td>
                      </tr>
                      <tr>
                          <th> cena </th>
                          <td> {{repairsform.price}} </td>
                      </tr>
                  </table>

                     <input type="submit" value="ZAHOWAJ">
                    {{error}}
                </form>
            </div>
    </div>

<!---------------Content Service Page------------------------->
    <table>

    {% for type_r in type_repairs %}
        <tr>
            <th class="col2">{{type_r}}</th>
            <th></th>
            <th class="three-dots">&#10247;</th>
        </tr>
        {% for repair in repairs %}
            {% if repair.type_repair == type_r %}
                <tr>
                    <td>{{repair.name_repair}}</td>
                    <td>{{repair.price}}</td>
                    <td class="three-dots">&#10247;</td>
                </tr>
            {% endif %}
        {% endfor %}

    {% endfor %}

    </table>

</div>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>



{% endblock %}