{% extends './index.html' %}

{%block store%}
    active
{%endblock%}

{% block content %}
<div class="content-store">
    <h3>SKLEP</h3>
    <div class="sort-bar">
           Filter: <a href="">Private firms</a> | <a href="">Government houses</a> |
                    <a href="">Corporate</a> | <a href="">Industrials</a>
    </div>
<ul class="thumb-list">
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 1</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 1</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 2</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 3</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 4</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 5</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 6</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 1</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 1</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 2</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 3</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 4</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 5</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
           <li>
               <div class="thumb-image"><img src="http://lorempixel.com/215/120/city/" alt="Lorem ipsum dolor..."></div>
                <h4>Project name 6</h4>
                <p>Cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque</p>
               <div class="price">233 zl</div>
           </li>
       </ul>

</div>
{% endblock %}