{% extends './index.html' %}
{% load static %}

{%block store%}
    active
{%endblock%}

{% block content %}
<div class="content-store">
    <h3>SKLEP</h3>
    <div class="sort-bar">
        <form action="#" method="GET">
            {% csrf_token %}
           Filter:
        {{sort_form}}
            | Cena  od{{prices_form.price_min}} do{{prices_form.price_min}}
            |           {{search_form}}
            <input class="zastosuj" type="submit" value="Zastosuj">
        </form>

    </div>
<ul class="thumb-list">
    {% for prod in products %}
       <li>
           <div><img src="{{ prod.imageUrl }}"></div>
            <h4>{{prod.name_product}}</h4>
            <p>{{prod.incomplete_description}}
                <input type="checkbox" id="{{prod.id}}" class="reference"/>
                <span class="story">{{prod.continue_description}}</span>
                <label style="font-size: 20px" for="{{prod.id}}">. . .</label>

            </p>
           <div class="price">{{ prod.price }} zl</div>
       </li>
    {% endfor %}
</ul>

</div>
{% endblock %}